.main{
    background-image: url("http://wallpapercave.com/wp/pwQ4lPy.jpg");
    background-size: cover;
    height:480px;
    width:80%;
    margin:2%;
    align-content: center;
    border-radius: 30px;
    background-repeat: no-repeat;
    margin-left: 10%;
}

.row{
    font-size: large;
    color: white;
}

button{
    display: block;
    width: 20%;
    margin-bottom: 25px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background: #948989;
    color: cornsilk;
    padding: 10px;
    font-size: 14px;
    position: relative;
}