<div class="white-text-container background-image-container"
    style="background-image: url('../../../assets/images/img-home.jpg')">
    <div class="opacity"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h1>EventAlly</h1>
                <p><b>
                        The place where you can explore opportunities.</b>
                </p>
                <p><b>The place whre you can find your intrests in a professional manner</b></p>
                <a routerLink="" title="" class="btn btn-primary">Expolre</a>
            </div>

        </div>
    </div>
</div>

<div class="section-container border-section-container" style="background-color: rgba(132, 220, 241, 0.514);" >
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-container-spacer">
                <div class="text-center">
                    <h2>EventAlly</h2>
                    <p> What is college life without a few trips to other colleges to attend cultural and
                        technical fests? We at EventAlly know how hard it is to keep track of events and is
                        bringing to you a solution. Plan your next event with us, be it workshops, technical
                        competitions or even cultural events. We provide a one-stop shop for all your event
                        booking needs and details for the same. With collaborations from over a 100 colleges
                        and growing. Never again lose track of events happening near you, EventAlly keeps you
                        updated on all things hot and happening. <br> Sign-up with us now to never miss an
                        opportunity. </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="fa-container">
                    <i class="fa fa-comment-o fa-3x" aria-hidden="true"></i>
                </div>
                <div class="text-center">
                    <h3>Hassle-Free</h3>
                </div>
                <div>
                    <p>Our intuitive system design makes booking your events easy and hassle free. It's as
                        easy as registering an account with us and selecting the event that you want to
                        attend.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fa-container">
                    <!-- <i class="fa fa-bell-o fa-3x" aria-hidden="true"></i> -->
                </div>
                <div class="text-center">
                    <h3></h3>
                </div>
                <div>
                    <!-- <p>Auctor augue mauris augue neque. Posuere lorem ipsum dolor sit amet consectetur adipiscing.
                        Porta
                        non pulvinar neque laoreet. Viverra ipsum nunc aliquet bibendum. Iaculis urna id volutpat
                        lacus.
                        Turpis egestas pretium aenean pharetra magna ac.
                    </p> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="fa-container">
                    <i class="fa fa-handshake-o fa-3x" aria-hidden="true"></i>
                </div>
                <div class="text-center">
                    <h3>Transparent</h3>
                </div>
                <div>
                    <p>Absence of a hidden charges enables transparent booking and scheduling. All bookings are
                        done with us and the concerning authority which reduces confusion and mishaps.
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>

<!-- <div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img class="img-responsive" src="../../../assets/images/img-05.jpg" alt="First slide">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="../../../assets/images/img-07.jpg" alt="Second slide">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="../../../assets/" alt="Third slide">
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="section-container background-color-container white-text-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h2>Loading ...</h2>
                    <p> Loading</p>
                    <a href="./download.html" title="" class="btn btn-primary btn-lg">Go to</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-container" style="background-color: rgba(132, 221, 243, 0.548);">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-7">
                <img class="img-responsive" src="../../../assets/images/img-06.png" alt="">
            </div> -->

            <div class="col-md-5">
                <ul class="features">
                    <li>
                        <h3>Hassle-Free</h3>
                        <!-- <p>Auctor augue mauris augue neque. Posuere lorem ipsum dolor sit amet consectetur
                            adipiscing.
                        </p> -->
                    </li>
                    <li>
                        <h3>Transparent</h3>
                        <!-- <p>Auctor augue mauris augue neque. Posuere lorem ipsum dolor sit amet consectetur
                            adipiscing.
                        </p>
                    </li>
                    <li>
                        <h3>Bibendum</h3>
                        <p>Auctor augue mauris augue neque. Posuere lorem ipsum dolor sit amet consectetur
                            adipiscing.
                        </p>
                    </li> -->
                </ul>
            </div>



            <!-- <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive page-base-image" src="../../../assets/images/logo-01.png" alt="">
                </div>
                <div class="col-md-4">
                    <img class="img-responsive page-base-image" src="../../../assets/images/logo-02.png" alt="">
                </div>
                <div class="col-md-4">
                    <img class="img-responsive page-base-image" src="../../../assets/images/logo-03.png" alt="">
                </div>
            </div> -->

        </div>
    </div>
</div>
