<!--<div class=back>
    <div class="form">
        <div class="form__box">
            <div class="form__left">
                <div class="form__padding"><img class="form__image" class="rounded-circle"
                        [src]="event.image" />
                </div>
            </div>
            <div class="form__right">
                <div class="form__padding-right">-->
                    <div class="bod">
    <section class="contact-from pt-4">
        <div class="container">

            <div class="row mt-5">
                <div class="col-md-7 mx-auto">
                    <div class="form-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Update Event</h4>
                        </div>
                        </div>
                    <form #update="ngForm" (ngSubmit)="updateEvent()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">  
                       
                           <label for="title">Event Name</label>
                        <input class="title" class="form-control" type="text" value={{event.title}} [(ngModel)]="event.title" name="title" />
                    </div> </div>
               
                        <div class="col-md-6">
                            <div class="form-group">
                        <label for="date">Event Date</label>
                        <input class="date"  class="form-control" style="margin-left:2px;" type="text" value={{event.date}} [(ngModel)]="event.date" name="date"/>
                      </div></div>
                      <div class="col-md-6">
                        <div class="form-group">
                        <label for="venue">Event Venue</label>
                     <input class="venue"  class="form-control" type="text" value={{event.venue}} [(ngModel)]="event.venue" name="venue"/>
                 </div> </div>
                 <div class="col-md-6">
                    <div class="form-group">
                    <label for="organiser">Event Organiser</label>
                 <input class="organiser" class="form-control" type="text" value={{event.organiser}} [(ngModel)]="event.organiser" name="organiser" />
             </div> </div>
             <div class="col-md-12">
                <div class="form-group">
                <label for="description">Event Description</label>
             <input class="description" class="form-control" type="text" value={{event.description}} [(ngModel)]="event.description" name="description" />
         </div> </div>
         <div class="col-md-12">
            <div class="form-group">
            <label for="image">Event Image URL</label>
         <input class="image" class="form-control" type="text" value={{event.image}} [(ngModel)]="event.image" name="image" />
     </div> </div></div>
     <div class="mt-3">
                        <input class="form__submit-btn"class="btn btn-primary"  type="submit" value="Update" />
                        <button class="form__submit-btn"class="btn btn-primary"style="margin-left:3%;" (click)="DelEvent()">Delete Event</button>
                    </div> </form>

                    
                </div>
            </div>
        </div>
        </div>
    </section>
</div>

