<!--
<div class="main"   *ngFor="let event of events;let i=index"[attr.data-index]="i"  >
    <div class="bg-image" [ngStyle]="{'background-image':'url(' +event.image+ ')'}"></div>
    <div class="bg-text">
    <h2>{{event.title}}</h2>

    <button  (click)="eventMore(i)">Details</button>
</div>
</div>-->


<carousel [width]="500"  >
    <div class="carousel-cell" *ngFor="let event of events;let i=index"[attr.data-index]="i" [cellsToScroll]="i">
        <img [src]="event.image" (click)="eventMore(i)"/>
    <div class="carousel-caption">   <h5>{{event.title}}</h5></div> 
    </div>
</carousel>
<div class="w3-col m5">
<div class="w3-container w3-card w3-white w3-round w3-margin" *ngFor="let event of events;let i=index"[attr.data-index]="i"><br>
    <img [src]="event.image" class="w3-left w3-circle w3-margin-right" style="width:60px">
    <h4>{{event.title}}</h4><br>
    <hr class="w3-clear">
    <p>{{event.description}} </p>
    <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half">
            <img [src]="event.image" style="width:100%"
                alt="Northern Lights" class="w3-margin-bottom">
        </div>
       
    </div>
    <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom" (click)="eventMore(i)">
        Details</button>
</div></div>