.main{
    border-radius: 30px;
    margin:2%;
}
.bg-image{
    filter:blur(5px);
    -webkit-filter:blur(5px) ;
    height:380px;
    width:90%;
    border-radius: 30px;
    background-size: cover;
    border-color: rgb(0,0,26);
    border-width: 2px;
    margin-left: 65px;
}
.bg-text{
   /* background-color: rgb(0,0,0);
    background-color: (0,0,0,0.4);*/
    color:white;
    font-weight: bold;
   /* position:absolute;
    
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index:2;*/
    text-align: center;
    font-family: sans-serif;
    font-size: 5px;
}
button{
    border-width: 1px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(46, 43, 43, 0.267);
    color: wheat;
}


.w3-col m5{
    display: inline-block;
    margin: 2%;

}
.greet{
    background-image: url("https://i.pinimg.com/originals/d9/af/b2/d9afb2f0c922f34cb6ae8ad219f53ca3.gif");
    background-size: cover;
    height: 2000px;
    margin:1%;
    color: cornsilk;
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
p{
margin-left: 2%;
margin-top: 2%;
}
/*.col-sm-2{
    display: inline-block;
    background-color: blue;
    float:left;
    width:100%;
}*/

