footer {
  
    background-color: rgb(1, 10, 39);
    position:fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    height:5%;
  }
  
  footer a {
    color: #999;
    text-decoration:none;
  }
  footer p {
      font-weight: bold;
      color: rgb(255, 255, 255);
      text-decoration:none;
      position: center;
      margin-bottom: 5cm;
    }
  .has-text-centered {
      color: rgb(255, 255, 255);
      text-decoration:none;
      position: center;
    }
  
  footer a:hover, footer a:focus {
    color: #aaa;
    text-decoration:none;
    border-bottom:1px dotted #999;
  }
  
  footer .form-control {
      background-color: #1f2022;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
      border: none;
      resize: none;
      color: #d1d2d2;
      padding: 0.7em 1em;
  }
  