<div class=back>
    <div class="form">
        <div class="form__box">
            <div class="form__left">
                <div class="form__padding"><img class="form__image"
                        src="https://images.unsplash.com/photo-1624623306028-9c536fd89960?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzZ8fHJvdW5kfGVufDB8MnwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" />
                </div>
            </div>
            <div class="form__right">
                <div class="form__padding-right">
                    <form #userRegister="ngForm" (ngSubmit)="registerUser()">
                        <h1 class="form__title">User Register</h1>
                        <label for="name">Name</label>
                        <input class="form__name" type="text" name="name" placeholder="Name" [(ngModel)]="user.name"
                            required />
                        <label for="email">Email</label>
                        <input class="form__email" type="text" name="email" placeholder="Email" [(ngModel)]="user.email"
                            required />
                        <label for="password">Password</label>
                        <input class="form__password" type="password" placeholder="******" name="password"
                            placeholder="Password" minlength="6" required [(ngModel)]="user.password" />
                        <!-- <label for="password">Re-enter Password</label>
                        <input class="form__password" type="password" placeholder="******" /> -->
                        <input class="form__submit-btn" type="submit" value="Sign Up" />
                    </form>

                    <p> <a class="form__link" href="login">Already have an account</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
